.navi {
    background-color: #4afac8d5;
    margin:10px; font-size: 20px;
  }

  body {
    background-color: #4388ef;
    margin: 0px;
  }

  p  { font-size:12pt;
    line-height:14pt;
    font-family:Helvetica,Arial,sans-serif;
    font-style:italic;
    letter-spacing:0.2mm;
    word-spacing:0.8mm;
    color:black; }